body {
  background-color: #eef2f7;
}
.container {
  margin-top: 30px;
}
textarea {
  font-family: "Consolas", monospace;
  background-color: #f7f9fb;
}
.output {
  white-space: pre-wrap;
  background-color: #f7f9fb;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 4px;
}
